body {
    font-family: "Times New Roman", serif;
    background-color: #fff;
    color: #000;
    text-align: left;
    font-size: 16px;
    padding: 15px;
}

#game-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

button {
    border: 1px solid black;
    background: white;
    color: black;
    padding: 5px;
    font-family: "Times New Roman", serif;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

button:hover, button:disabled {
    background: rgba(0,0,0,.1);
}

#resources {
    margin-bottom: 20px;
}

#upgrades-container, #research-container, #exploration-container {
    margin-top: 20px;
    border-top: 1px solid #C0C0C0;
    padding-top: 20px;
}

h2 {
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

#explore-button {
    display: inline-block;
    margin: 10px auto 0 auto;
}

#explore-button:hover {
    background: rgba(0,0,0,.1);
}